<div ng-controller="Volunteer.Reports.Controller as $ctrl">

    <button ng-click="createUser()"> Create User </button>
    <button ng-click="searchUsers()"> Manage Users </button>
    <button ng-click="showActivities()">View Activities</button>
    <button ng-click="genReport()">Generate Report</button>

    <form class="form" ng-show="showUser">
        <p>Create a new user</p>
        <div>
            <span class="col-md-6">
                <label>Username: </label>
                <input ng-model="user.username" type="text" class="form-control" />
            </span>
            <span class="col-md-6">
                <label>Password: </label>
                <input ng-model="user.password" type="password" class="form-control" />
            </span>
        </div>
        <div>
            <label>Name</label>
        </div>
        <div>
            <span class="col-md-6">
                <label>First: </label>
                <input ng-model="user.name.first" type="text" class="form-control" />
            </span>
            <span class="col-md-6">
                <label>Last: </label>
                <input ng-model="user.name.last" type="text" class="form-control" />
            </span>
        </div>
        <div>
            <label>Email: </label>
            <input ng-model="user.email" type="email" class="form-control" />
        </div>
        <div>
            <label>Roles</label>
            <div class="radio">
                <label><input ng-model="role" value="admin" type="radio" />Admin</label>
            </div>
            <div class="radio">
                <label><input ng-model="role" value="program_manager" type="radio" />Program Manager</label>
            </div>
            <div class="radio">
                <label><input ng-model="role" value="volunteer" type="radio" />Volunteer</label>
            </div>

        </div>
        <button ng-click="create()" class="btn btn-primary">Create</button>
    </form>

    <table class="table table-striped" ng-show="showTable">
        <thead id="TblHead">
            <tr>
                <td>Username</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Role</td>
                <td>Active</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td> {{user.username}}</td>
                <td>{{user.name.first}}</td>
                <td>{{user.name.last}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0]}}</td>
                <td>{{user.enabled}}</td>
                <td>
                    <button ng-click="suspend(user.id, $index)" ng-if="isAdmin(user.username)" ng-show="shouldShow(user.username, user.enabled)" class="btn btn-warning">Suspend</button>
                    <button ng-click="enable(user.id, $index)" ng-if="isAdmin(user.username)" ng-show="!shouldShow(user.username, user.enabled)" class="btn btn-success">Enable</button>
                    <button ng-click="remove(user.id)" ng-if="isAdmin(user.username)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-show="isActVis">
        <form>
            <input type="text" ng-model="te" />
            <button ng-click="searchTable(te)">Search</button>
        </form>
        <table class="table table-striped" >
            <thead id="TblHead">
                <tr>
                    <td>Program</td>
                    <td>Activity</td>
                    <td>Shift</td>
                    <td>Volunteer</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <td> {{activity.program}}</td>
                    <td>{{activity.title}}</td>
                    <td>
                        <table>
                            <tr ng-repeat="shift in activity.shifts">
                                <td>{{shift.startTime | date:'yyyy-MM-dd HH:mm'}} - {{shift.endTime | date:'HH:mm'}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr ng-repeat="shift in activity.shifts">
                                <td>{{shift.usernames}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </divng-show="isActVis">
</div>