<div>

    <button class="btn btn-primary" ng-click="create()">Create User</button>
    <button class="btn btn-primary" ng-click="showActivities()">Show Activities</button>
    <button class="btn btn-primary" ng-click="genReport()">Generate Report</button>

    <table class="table table-striped">
        <thead id="TblHead">
            <tr>
                <td>Username</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Role</td>
                <td>Active</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.name.first}}</td>
                <td>{{user.name.last}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0]}}</td>
                <td>{{user.enabled}}</td>
                <td>
                    <button ng-click="edit(user.id)" class="btn btn-default">Edit</button>
                    <button ng-click="suspend(user)" ng-if="!isAdmin(user.username)" ng-show="shouldShow(user.username, user.enabled)" class="btn btn-warning">Suspend</button>
                    <button ng-click="enable(user)" ng-if="!isAdmin(user.username)" ng-show="!shouldShow(user.username, user.enabled)" class="btn btn-success">Enable</button>
                    <button ng-click="remove(user.id)" ng-if="!isAdmin(user.username)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="isActVis">
        <form>
            <div class="input-group">

            </div>
            <input class="form-control inline" type="text" ng-model="te" />
            <button class="btn btn-primary glyphicon glyphicon-search" ng-click="searchTable(te)"></button>
        </form>
        <table class="table table-striped">
            <thead id="TblHead">
                <tr>
                    <td>Program</td>
                    <td>Activity</td>
                    <td>Shift</td>
                    <td>Volunteer</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <td> {{activity.program}}</td>
                    <td>{{activity.title}}</td>
                    <td>
                        <table>
                            <tr ng-repeat="shift in activity.shifts">
                                <td>{{shift.startTime | date:'yyyy-MM-dd HH:mm'}} - {{shift.endTime | date:'HH:mm'}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr ng-repeat="shift in activity.shifts">
                                <td>{{shift.usernames}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="userModal.html">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">
                <span ng-if="$ctrl.resolve.mode == 'new'">Add a User</span>
                <span ng-if="$ctrl.resolve.mode == 'edit'">Update a User</span>
            </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label>Username: </label>
            <input ng-model="$ctrl.user.username" type="text" class="form-control" />
            <label>Password: </label>
            <input ng-model="$ctrl.user.password" type="password" class="form-control" />
            <label>Name</label>
            <label>First: </label>
            <input ng-model="$ctrl.user.name.first" type="text" class="form-control" />
            <label>Last: </label>
            <input ng-model="$ctrl.user.name.last" type="text" class="form-control" />
            <label>Email: </label>
            <input ng-model="$ctrl.user.email" type="email" class="form-control" />
            <label>Roles</label>
            <div class="radio">
                <label><input ng-model="$ctrl.role" value="admin" type="radio" />Admin</label>
            </div>
            <div class="radio">
                <label><input ng-model="$ctrl.role" value="program_manager" type="radio" />Program Manager</label>
            </div>
            <div class="radio">
                <label><input ng-model="$ctrl.role" value="volunteer" type="radio" />Volunteer</label>
            </div>
        </div>

        <div class="modal-footer" id="modal-footer">
            <button class="btn btn-primary" type="button" ng-if="$ctrl.resolve.mode == 'new'" ng-click="$ctrl.accept()">Add New User</button>
            <button class="btn btn-primary" type="button" ng-if="$ctrl.resolve.mode == 'edit'" ng-click="$ctrl.accept()">Save Changes</button>
            <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
</div>