<div class="container">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Shifts</th>
                <th>Volunteers</th>
                <th ng-if="hasRole('volunteer')" colspan="2">Actions</th>
            </tr>
        </thead>
        <tr ng-repeat="activity in activities">
            <td>{{activity.title}}</td>
            <td>{{activity.description}}</td>
            <td><button ng-click="viewShifts(activity.id)" class="btn btn-default">View Shifts</button></td>
            <td><button ng-click="viewVolunteers(activity.id)" class="btn btn-default">View Volunteers</button></td>
            <td><button ng-if="hasRole('volunteer')" ng-click="volunteer(activity.id)"class="btn btn-success">Volunteer</button></td>
            <td><button ng-if="hasRole('program_manager')" ng-click="remove(activity.id)" class="btn btn-danger">Remove</button></td>
        </tr>
    </table>
</div>