<div>
    <h1>Admin</h1>
    <p>As an admin you can do everything a Program Manager and Volunteer can in addition to: managing users, generating reports, and finalizing schedules!</p>
    <h3>Creating a New User</h3>
    <ol>
        <li>Navigate to the Admin Dashboard in the upper-left hand corner</li>
        <li>Select the "Create User" button</li>
        <li>Fill out all fields for the user and select their role</li>
        <li>Once ready, click the blue "Create" button and the user will be instantly adde to the database! Wow! Technology!</li>
    </ol>
    <h3>Deleting/Deactivating a User</h3>
    <ol>
        <li>Navigate to the Admin Dashboard in the upper-left hand corner</li>
        <li>Select the "Manage Users" button</li>
        <li>Here a table will populate with all users</li>
        <li>Each row represents a user. Now you can select to enable/deactivate a user as well as the option to delete them.</li>
    </ol>
    <h3>Finalizing a Schedule</h3> 
    <ol>
        <li>Navigate to the Programs view by clicking "Programs" on the navigation bar</li>
        <li>Find the program you wish to finalize and click the blue "Finalize" button</li>
        <li>Once the program is finalized, an email will be sent out to all users notifying them. The Edit and Finalize buttons will now also be disabled.</li>
    </ol>

    <h1>Program Manager</h1>
    <p>As a Program Manager you can do everything a Volunteer can in addition to: managing programs and activites!</p>
    <h3>Creating a Program</h3>
    <ol>
        <li>Navigate to the Programs view by clicking "Programs" on the navigation bar</li>
        <li>Click the "Create New Program" button to pull up a pop-up window</li>
        <li>From here you must enter a title and description.</li>
        <li>You can also add activities by clicking the "Add Activity" button which will popualte additional fields for you to modify. Each activity has at least one shift that can be modified. </li>
        <li>Once you are content with your selections, click the blue "Add New Program" button at the bottom of the window to complete the program creation.</li>
    </ol>
    <h3>Editing a Program</h3>
    <ol>
        <li>Navigate to the Programs view by clicking "Programs" on the navigation bar</li>
        <li>Find which program you wish to edit and click on the white "Edit" button.</li>
        <li>Once you are content with your changes, click the blue "Save Changes" button.</li>
    </ol>
    <h3>Removing a Program</h3>
    <ol>
        <li>Navigate to the Programs view by clicking "Programs" on the navigation bar</li>
        <li>Find which program you wish to remove and click on the red "Remove" button.</li>
        <li>The program, activites, and shifts will now be removed from the system.</li>
    </ol>

    <h1>Volunteer</h1>
    <p>As a Volunteer you can view all available programs, activities, and shifts available!</p>
    <h3>Shift Sign-Up</h3>
    <ol>
        <li>Navigate to the Programs view by clicking "Programs" on the navigation bar</li>
        <li>Find which program you wish to sign-up for and click on the green "View" button.</li>
        <li>The activity list will now appear. Select which activity you want to sign-up for by selecting the green "Volunteer" button.</li>
        <li>A pop-up window will now be displayed with the available shifts. Select one and click on the blue "OK" button to register.</li>
    </ol>
</div>