<div class="container">
    <button ng-click="createForm()">Add New Program</button>
    <form ng-if="form">
        <div>
            <label>Title</label>
            <input type="text" />
        </div>
        <div>
            <label>Description</label>
            <input type="text" />
        </div>
        <div>
            <button ng-click="add()">Add</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <th>
                <td>Title</td>
                <td>Description</td>
                <td colspan="3" class="center">Actions</td>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="program in programs">
                <td></td>
                <td>{{program.title}}</td>
                <td>{{program.description}}</td>
                <td><button ng-click="view(program.id)" class="btn btn-success">View</button></td>
                <td><button ng-click="edit(program.id)" class="btn btn-default">Edit</button></td>
                <td><button ng-click="delete(program.id)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>